.containter {
  display: flex;
  justify-content: center;
}
.wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header {
  color: #92278f;
}

.box {
  margin-top: 3rem;
  border-radius: 30px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 522px;
}
.box2 {
  margin-top: 3rem;
  border-radius: 30px;
  background-color: #f8f8f8;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 10px;
  gap: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 522px;
}

.button {
  background: #92278fb2;
  border-radius: 30px;
  width: 400px;
  height: 50px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background: #92278f;
  cursor: pointer;
}
.text {
  padding: 10 20;
  color: #fff;
}
.sign-in-button {
  background: #00aeef;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  &:hover {
    background-color: #13baf6;
  }
}
span {
  color: #00aeef;
}
span:hover {
  color: #13baf6;
  cursor: pointer;
}
